.title {
    color: rgb(107, 190, 111);
    text-align: center;
}

.resume {
    display: flex;
    text-decoration: underline;
color: rgb(107, 190, 111);

}

.data {
    text-decoration: underline;
    
}

.education{
    text-decoration: underline;
}